<ul uib-dropdown-menu
    ng-class="{display: $ctrl.visible}"
    class="dropdown-menu"
    role="menu">
  <li ng-if="$ctrl.path.length > 0">
    <a ng-click="$ctrl.previous()">&lt;&nbsp;{{$ctrl.currentItem.title}}</a>
  </li>
  <li ng-if="$ctrl.path.length === 0"><span>Root</span></li>
  <li role="menuitem"
      class="menuitem"
      ng-repeat="item in $ctrl.currentItem.data track by item.code">
    <a ng-if="item.data && item.data.length > 0"
       ng-click="$ctrl.next(item)">
      {{item.title}}&nbsp;&gt;
    </a>
    <a ng-if="!item.data || item.data.length <= 0"
       ng-click="$ctrl.addTag(item)">
      {{item.title}}
    </a>
  </li>
</ul>
